@use "variables";

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: variables.$color-light-gray;
    color: variables.$color-black;
}

.page {
    padding: 0 5rem;
    min-height: 100vh;
    background-color: variables.$color-white;
    box-shadow:
        -3px 0 20px -15px variables.$color-black,
        3px 0 20px -15px variables.$color-black;
}

header {

    .logo {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
        color: variables.$color-white;
        text-shadow:
            -1px -1px 0 variables.$color-orange,
            2px 1px 0 variables.$color-black;

        &:hover {
            text-shadow:
                -3px -1px 0 variables.$color-orange,
                3px 1px 0 variables.$color-black;
            cursor: pointer;
        }
    }

    .search-form {
        display: flex;
        gap: 0.5rem;

        input {
            border-radius: 2px;
            border: 1px solid variables.$color-gray;
            min-width: 12rem;
            text-align: left;
            padding-left: 1rem;
            transition: all 0.3s ease;
            font-size: variables.$font-size-small;

            &:hover,
            &:focus {
                min-width: 20rem;
            }
        }

        button {
            font-size: variables.$font-size-small;
        }
    }
}

.nav1 ul {
    display: flex;
    gap: 2rem;

    li {
        a {
            color: variables.$color-orange;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 0.05rem;

            &:hover {
                color: variables.$color-orange-dark;
            }
        }
    }
}

.button1 {
    background-color: variables.$color-white;
    border: 1px solid variables.$color-orange;
    color: variables.$color-orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: variables.$font-size-base;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: variables.$color-orange;
        color: variables.$color-white;
    }
}

.divider {
    border: none;
    border-top: 1px solid variables.$color-black;
    width: 50%;
    margin: variables.$section-spacing 0;
}

main {
    h2 {
        font-weight: bold;
        font-size: variables.$font-size-large;
        letter-spacing: 0.05rem;
    }
}

section {
    text-align: center;
}

.top-teachers {
    form {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;

        label {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: variables.$color-gray;
            font-size: variables.$font-size-small;
            height: 100%;
            text-wrap: nowrap;

            select {
                padding: 0.4rem 0.2rem;
                font-size: variables.$font-size-small;
            }

            input[type="checkbox"] {
                cursor: pointer;

                &:checked {
                    accent-color: variables.$color-orange;
                }
            }
        }

        label:not(:last-child) {
            border-right: 2px dotted variables.$color-gray;
            margin-right: 1rem;
            padding-right: 1rem;
        }

        label:has(input[type="checkbox"]) {
            gap: 0.1rem;

            &:hover {
                color: variables.$color-black;
            }
        }
    }
}

.teacher {
    h3 {
        font-size: variables.$font-size-base;
        font-weight: bold;
        letter-spacing: 0.05rem;
    }

    .subject {
        font-size: variables.$font-size-small;
        color: variables.$color-gray;
    }

    .location {
        font-size: variables.$font-size-extra-small;
    }

    .img-wrapper {
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        border: 3px solid variables.$color-orange;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;

            &:hover {
                transform: scale(1.3);
            }
        }

        .no-avatar {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: variables.$color-orange;
            font-size: variables.$font-size-large;
            font-weight: bold;

            &:hover {
                transform: scale(1.2);
                color: variables.$color-orange-dark;
            }
        }

        &:hover {
            border-color: variables.$color-orange-dark;
            cursor: pointer;
        }
    }
}

.favourite {
    position: relative;

    &::after {
        content: '★';
        position: absolute;
        top: 4px;
        right: 7px;
        color: variables.$color-yellow;
        font-size: 2rem;
    }
}

.statistics {
    table {
        width: 100%;
        border-collapse: separate;
        border: none;

        th,
        td {
            padding: 0.5rem;
            text-align: center;
            font-size: variables.$font-size-small;
        }

        th:first-child {
            text-align: left;
            padding-left: 1rem;
        }

        td:first-child {
            text-align: left;
        }

        th {
            border-bottom: 1px solid variables.$color-black;
        }

        .sortable {
            cursor: pointer;

            &:hover {
                border-bottom: 3px solid variables.$color-black;
                background-color: variables.$color-light-gray;
            }
        }

        .sorted-asc {

            &::after {
                content: '↑';
                display: inline-block;
                margin: 0 5px;
                transition: transform 0.3s ease;
                transform: rotate(0deg);
            }

            &:hover::after {
                transform: rotate(180deg);
            }
        }

        .sorted-desc {
            &::after {
                content: '↓';
                display: inline-block;
                margin: 0 5px;
                transition: transform 0.3s ease;
                transform: rotate(0deg);
            }

            &:hover::after {
                transform: rotate(180deg);
            }
        }

        .non-sorted {

            &:hover::after {
                content: '↑';
                display: inline-block;
                margin: 0 5px;
            }
        }

        tr:nth-child(even) {
            background-color: variables.$color-table-stripes;
        }
    }
}

.pagination {
    a {
        color: variables.$color-link;
        text-decoration: none;

        &:hover {
            color: variables.$color-black;
        }
    }
}

.scroll-arrow {
    position: absolute;
    color: variables.$color-black;
    font-family: "Monlo";
    font-size: 4rem;
    font-weight: bolder;
    transform: scaleX(0.5) scaleY(1.7);
    cursor: pointer;
}

.prev-arrow {
    left: -4rem;
}

.next-arrow {
    right: -4rem;
}

.about {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    margin-top: 2rem;
    padding: 1.5rem 0;
}