$color-orange: #f75c48;
$color-orange-dark: #c24700;
$color-gray: #777;
$color-light-gray: #f9f9f9;
$color-table-stripes: #faf5fb;
$color-white: #fff;
$color-black: #111;
$color-star: #f4c542;
$color-link: #179db7;
$color-yellow: #ffeb3b;
$color-popup-header-bg: #464648;

$max-width: 1200px;
$section-spacing: 2rem;
$font-size-extra-small: 0.625rem;
$font-size-small: 0.75rem;
$font-size-base: 1rem;
$font-size-large: 1.5rem;